<!--
   - Copyright(c) 2018 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-9 media">
                    <div class="row media-body" id="home-box">
                        <div class="col-md-5">
                            <h5>
                                <b><a class="text-tooltip-white">{{#bs-tooltip renderInPlace=true}}English approximation: shuen-ray<br>IPA (Standard Mandarin): /ɕɥɛn˧˥ ɻwei̯˥˩/<br>Katakana approximation: シュエン ルイ{{/bs-tooltip}}Xuanrui</a>
                                (Ray)
                                <a class="text-tooltip-white">{{#bs-tooltip renderInPlace=true}}English approximation: chee<br>IPA (Standard Mandarin): /tɕʰi˧˥/<br>Katakana approximation: チー{{/bs-tooltip}}Qi</a></b></h5>
                            <h5>
                                <b><a class="text-tooltip-white">{{#bs-tooltip renderInPlace=true}}Pinyin: qí xuán ruì<br>Bopomofo (注音符號): ㄒㄧˊ ㄏㄩㄢˊ ㄖㄨㄟˋ<br>Cantonese Pinyin: kei4 syun4 jeoi6<br>Kanbun On'yomi (漢文音読み): キ センエイ{{/bs-tooltip}}亓璇睿</a></b>
                            </h5>
                            <p>Research in programming languages</p>
                            <p>
                                <b>Graduate Student</b>, <i><a href="https://www.cs.tufts.edu/">Department of Computer Science, Tufts University</a></i>, Sept 2018 -
                            </p>
                            <p>
                               <b>B.S., Computer Science</b>, <i><a href="https://www.tufts.edu/">Tufts University</a></i>, 2018
                            </p>
                            <p>
                                {{#link-to 'secure'}}Contacting me securely{{/link-to}}
                            </p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <div style="height: 170px;" class="address" id="future">
                                <h6><b>{{fa-icon "map-marker"}} Mailing Address:</b></h6>
                                <p>
                                    <b>Xuanrui Qi</b>
                                    <br>Department of Computer Science
                                    <br>Halligan Hall
                                    <br>161 College Avenue
                                    <br>Medford, MA 02144
                                    <br>United States of America
                                </p>
                            </div>
                            <p>
                                <b>{{fa-icon "envelope"}}</b> <a href="mailto:me@xuanruiqi.com">me@xuanruiqi.com</a><br/>
                                <b>{{fa-icon "envelope"}}</b> <a href="mailto:xqi01@cs.tufts.edu">xqi01@cs.tufts.edu</a> (academic only)
                            </p>
                            <p>
                                <a href="https://github.com/xuanruiqi" class="btn btn-contact btn-github">{{fa-icon "github" class="animated-icon" fixedWidth=true size=2}}</a>
                                <a href="https://twitter.com/xuanruirqi" class="btn btn-contact btn-twi">{{fa-icon "twitter" class="animated-icon" fixedWidth=true size=2}}</a>
                                <a href="https://www.linkedin.com/in/xuanruiqi/" class="btn btn-contact btn-linked">{{fa-icon "linkedin" class="animated-icon" fixedWidth=true size=2}}</a>
                                <a href="https://www.quora.com/profile/Xuanrui-Qi" class="btn btn-contact btn-quora">{{fa-icon "quora" class="animated-icon" fixedWidth=true size=2}}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="margin-top: 2%;">
                    <div class="col-md-11 info-box">
                        <p>
                            <b>Looking for contract/part-time work!</b> <i>I am looking for contract, consulting or part-time work on a remote basis, or on-site within the Boston 
                            area. Things I could help with include functional programming (especially OCaml, Haskell and Erlang), formal methods, 
                            programming language &amp; compiler engineering, JVM internals, and application/software security; maybe also distributed systems &amp; blockchain technology. If you have suitable openings, 
                            I would love to hear about them. Please drop me a line at <a href="mailto:me@xuanruiqi.com">me@xuanruiqi.com</a>. Thank you very much!</i>
                        </p>
                        <hr>
                        <p>
                            I am <b><a class="text-tooltip">{{bs-tooltip title="\"Ray\" preferred, unless you speak Chinese" renderInPlace=true}}Xuanrui "Ray" Qi</a></b>, 
                            a master's student in computer science at <a href="https://www.tufts.edu/">Tufts University</a>, where 
                            I am part of the <a href="http://tupl.cs.tufts.edu/">TuPL research group</a>. Currently, I am advised by Professor <a href="https://www.cs.tufts.edu/~sguyer/">Samuel Z. Guyer</a>. 
                            I am also (informally) mentored by <a href="https://people.cs.uchicago.edu/~comar/">Cyrus Omar</a> on my master's project, in which I work on adding first-class typed holes to a dependently-typed 
                            core calculus.
                        </p>   
                        <p>
                            In the summer of 2018, I visited and did research with Professor <a href="https://www.math.nagoya-u.ac.jp/~garrigue/home.html">Jacques Garrigue</a> at Nagoya University,
                            Japan, where I worked on the formalization and verification of succinct data structures in Coq. Before that, I was an undergraduate 
                            student at Tufts University, from where I graduated in 2018, with a B.S. in <a href="https://engineering.tufts.edu/cs/">computer science</a> and <a href="https://ase.tufts.edu/ir/">international 
                            relations</a>. During my undergraduate career, I was fortunate to be advised by and to do research with Professor Sam Guyer, working on
                            dynamic analysis tools for memory analysis in managed programming languages.
                        </p>
                        <p>
                            I am interested in doing research that exposes structures, and research that uses abstract computational ideas to solve real problems. 
                            Currently, I am interested in bringing better structure and interactivity to programming, and using those ideas to create modern 
                            software systems: broadly stated, my interests include the design and implementation of programming languages,
                            formal methods and verification, and type theory.
                        </p>
                        <p>
                            <b>Keywords for Google:</b> proof assistants, programmer tools, formal methods, dependent types, functional programming
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-11 info-box">
                        <hr>
                        <h4>News</h4><br>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>(December 2018)</b> New talk abstract: "<a href="assets/papers/obt19.pdf">From Tactics to Structure Editors for Proofs</a>." <s>Submitted to</s> Accepted to Off the Beaten Track (OBT) 2019!
                                        I will be giving the talk in Lisbon, Portugal, on January 19, 2019.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>(November 2018)</b> My submission, "A Practical and Extensible Framework for Garbage Collection Tracing", has been accepted to 
                                        the <a href="https://2018.splashcon.org/track/splash-2018-Student-Research-Competition">SPLASH 2018 Student Research Competition</a>.
                                        I have presented the poster at the SPLASH 2018 SRC.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>(September 2018)</b> I <s>will be attending</s> attended the 23nd International Conference on Functional Programming (ICFP 2018) in St. Louis, US, 
                                        during September 24-29, 2018.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>(August 2018)</b> Our paper on verifying tree algorithms <s>will be out soon</s> is out! It will be presented at the 35th Conference of the Japan Society for Software Science and Technology
                                        (<a href="https://jssst2018.wordpress.com/">日本ソフトウェア科学会第35回大会</a>), which <s>will be</s> was held at Osaka University, August 29-31, 2018.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>(June-August 2018)</b> I <s>will be</s> <s>am visiting</s> visited and did research with
                                        <a href="https://www.math.nagoya-u.ac.jp/~garrigue/home.html">Professor Jacques Garrigue</a> at the
                                        <a href="https://www.math.nagoya-u.ac.jp/">Graduate School of Mathematics, Nagoya University</a>
                                        from June to August 2018.<br>
                                        <b>(2018年6〜8月)</b> 2018年6月から8月まで，<a href="https://www.math.nagoya-u.ac.jp/ja/">名古屋大学大学院多元数理科学研究科</a>にて，<a href="https://www.math.nagoya-u.ac.jp/~garrigue/home-j.html">ジャック・ガリグ</a>教授の元に滞在・研究を行っていました．
                                    </td>
                                </tr>                               
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $('.hidden-block').hide();
</script>