<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-9 media">
                    <div class="row media-body" id="home-box">
                        <div class="col-md-5">
                            <h5>
                                <b><a class="text-tooltip-white">{{#bs-tooltip renderInPlace=true}}English approximation: shuen-ray<br>IPA (Standard Mandarin): /ɕɥɛn˧˥ ɻwei̯˥˩/<br>Katakana approximation: シュアン ルイ{{/bs-tooltip}}Xuanrui</a>
                                (Ray)
                                <a class="text-tooltip-white">{{#bs-tooltip renderInPlace=true}}English approximation: chee<br>IPA (Standard Mandarin): /tɕʰi˧˥/<br>Katakana approximation: チー{{/bs-tooltip}}Qi</a></b></h5>
                            <h5>
                                <b><a class="text-tooltip-white">{{#bs-tooltip renderInPlace=true}}Pinyin: qí xuán ruì<br>Bopomofo (注音符號): ㄒㄧˊ ㄏㄩㄢˊ ㄖㄨㄟˋ<br>Cantonese Pinyin: kei4 syun4 jeoi6<br>Kanbun On'yomi (漢文音読み): キ センエイ{{/bs-tooltip}}亓璇睿</a></b>
                            </h5>
                            <p>Research in programming languages</p>
                            <p>
                                <b>Visiting Researcher</b>, <i><a href="https://www.math.nagoya-u.ac.jp/">Graduate School of Mathematics, Nagoya University</a></i>, Jun-Aug 2018
                                <br>
                                
                            </p>
                            <p><b>M.S., Computer Science</b>, <i><a href="https://www.cs.tufts.edu/">Tufts University</a></i>, 2019<br/>
                               <b>B.S., Computer Science</b>, <i><a href="https://www.tufts.edu/">Tufts University</a></i>, 2018</p>

                            <p>
                                <a href="assets/xuanruiqi.pub.txt">GPG public key</a>
                                <br>
                                <a href="https://keybase.io/xuanruiqi">Keybase</a>
                            </p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <div style="height: 170px;" id="address-en">
                                <p>
                                    <b>{{fa-icon "map-marker"}} Address (Jun-Aug 2018):</b>
                                    <br>Xuanrui Qi
                                    <br>Graduate School of Mathematics, Nagoya University
                                    <br>Furo-cho, Chikusa-ku
                                    <br>Nagoya, Aichi Prefecture 
                                    <br>464-8602 Japan
                                    <br><a href="https://goo.gl/maps/msJyKXDAoxQ2">View on Google Maps</a>
                                </p>
                            </div>
                            <div style="height: 170px;" id="address-ja">
                                <p>
                                    <b>{{fa-icon "map-marker"}} 住所 (2018年6〜8月):</b>
                                    <br>Xuanrui QI (亓 璇睿)
                                    <br>〒464-8602 愛知県名古屋市千種区不老町
                                    <br>名古屋大学大学院多元数理研究科
                                    <br><a href="https://goo.gl/maps/msJyKXDAoxQ2">Googleマップで見る</a>
                                </p>
                            </div>
                            <p>
                                <a href="#!" onclick="toggleEn();">[EN]</a>
                                <a href="#!" onclick="toggleJa();">[JA]</a>
                            </p>
                            <p>
                                <b>{{fa-icon "envelope"}}</b> <a href="mailto:me@xuanruiqi.com">me@xuanruiqi.com</a><br/>
                                <b>{{fa-icon "envelope"}}</b> <a href="mailto:xqi01@cs.tufts.edu">xqi01@cs.tufts.edu</a> (academic only)
                            </p>
                            <p>
                                <a href="https://github.com/xuanruiqi" class="btn btn-contact btn-github">{{fa-icon "github" class="animated-icon" fixedWidth=true size=2}}</a>
                                <a href="https://twitter.com/xuanruirqi" class="btn btn-contact btn-twitter">{{fa-icon "twitter" class="animated-icon" fixedWidth=true size=2}}</a>
                                <a href="https://www.linkedin.com/in/xuanruiqi/" class="btn btn-contact btn-linkedin">{{fa-icon "linkedin" class="animated-icon" fixedWidth=true size=2}}</a>
                                <a href="https://www.quora.com/profile/Xuanrui-Qi" class="btn btn-contact btn-quora">{{fa-icon "quora" class="animated-icon" fixedWidth=true size=2}}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="margin-top: 2%;">
                    <div class="col-md-11 info-box">
                        <p>
                            I am <a class="text-tooltip">{{bs-tooltip title="\"Ray\" preferred, unless you speak Chinese" renderInPlace=true}}Xuanrui "Ray" Qi</a>, a senior at
                            <a href="https://www.tufts.edu">Tufts University</a>, majoring in
                            <a href="https://www.cs.tufts.edu/">computer science</a> and
                            <a href="https://ase.tufts.edu/ir/">international relations</a>, and minoring in
                            <a href="https://math.tufts.edu">mathematics</a>. Starting in September 2018 (and until 
                            May 2019), I will be a master's student in computer science at Tufts University, where 
                            I will (continue to) be advised by Professor <a href="https://www.cs.tufts.edu/~sguyer/">Samuel Z. Guyer</a>.
                        </p>
                        <p>
                            My research interests include the design and implementation of programming languages,
                            formal methods and verification, language-based security, type systems, and logic.
                        </p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-11 info-box">
                        <div>
                            <a href="#!" onclick="$('#block-1').slideToggle();">[日本語]</a>
                            <br>
                            <div class="hidden-block" id="block-1">
                                <p>
                                    アメリカ・タフツ大学工学部コンピューター科学科2018年5月に卒業、学士 (理学) (Bachelor of Science) の学位取得予定。2018年9月から2019年5月まで同大学大学院工学研究科コンピューター科学専攻で修士課程。2018年6月から8月まで<a href="https://www.math.nagoya-u.ac.jp/ja/">名古屋大学大学院多元数理科学研究科</a>で、<a href="https://www.math.nagoya-u.ac.jp/~garrigue/home-j.html">ジャック・ガリグ</a> (<a href="https://www.math.nagoya-u.ac.jp/~garrigue/home.html">Jacques Garrigue</a>) 教授の元に訪問、研究を行う予定です。
                                </p>
                                <p>
                                    興味のある研究テーマはプログラミング言語の設計と実装、形式手法、プログラム検証、プログラミング言語のセキュリティーへの応用、型理論と (数理) 論理学など。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-11 info-box">
                        <hr>
                        <h4>News</h4><br>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>(June-August 2018)</b> I will be visiting and doing research with
                                        <a href="https://www.math.nagoya-u.ac.jp/~garrigue/home.html">Professor Jacques Garrigue</a> at the
                                        <a href="https://www.math.nagoya-u.ac.jp/">Graduate School of Mathematics, Nagoya University</a>
                                        from June to August 2018.
                                    </td>
                                </tr>                               
                                <tr>
                                    <td>
                                        <b>(May 2018)</b> I will be graduating from Tufts University with a Bachelor of Science in Computer
                                        Science on May 20, 2018!
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>(May 3, 2018)</b> I <s>will publicly defend</s> defended my senior honors thesis, "Elephant Tracks II: Practical, Extensible Memory Tracing",
                                        on May 3, from 12:30-2:00 pm.
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>

                
                <div class="row">
                    <div class="col-md-11 info-box">
                        <hr>
                        <h4>Projects</h4><br>
                        <table class="table table-striped">
                            <tbody>                                    
                                <tr>
                                    <td>
                                        <b>Elephant Tracks II</b>: a portable, efficient and language-agnostic memory tracing toolkit.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>JumboViz</b> (tentative name): a visualizer for Elephant Tracks GC traces.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#address-ja').hide();

    function toggleEn() {
        $('#address-ja').hide();
        $('#address-en').show();
    }

    function toggleJa() {
        $('#address-en').hide();
        $('#address-ja').show();
    }

    $('.hidden-block').hide();
</script>