<!--
   - Copyright(c) 2018 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-9 media">
                    <div class="row media-body" id="home-box">
                        <div class="col-md-5">
                            <h5>
                                <b><a class="text-tooltip-white">{{#bs-tooltip renderInPlace=true}}English approximation: shuen-ray<br>IPA (Standard Mandarin): /ɕɥɛn˧˥ ɻwei̯˥˩/<br>Katakana approximation: シュエン ルイ{{/bs-tooltip}}Xuanrui</a>
                                (Ray)
                                <a class="text-tooltip-white">{{#bs-tooltip renderInPlace=true}}English approximation: chee<br>IPA (Standard Mandarin): /tɕʰi˧˥/<br>Katakana approximation: チー{{/bs-tooltip}}Qi</a></b></h5>
                            <h5>
                                <b><a class="text-tooltip-white">{{#bs-tooltip renderInPlace=true}}Pinyin: qí xuán ruì<br>Bopomofo (注音符號): ㄒㄧˊ ㄏㄩㄢˊ ㄖㄨㄟˋ<br>Cantonese Pinyin: kei4 syun4 jeoi6<br>Kanbun On'yomi (漢文音読み): キ センエイ{{/bs-tooltip}}亓璇睿</a></b>
                            </h5>
                            <p>Research in programming languages</p>
                            <p>
                                <b>Visiting Researcher</b>, <i><a href="https://www.math.nagoya-u.ac.jp/">Graduate School of Mathematics, Nagoya University</a></i>, Jun-Aug 2018
                                <br>
                                
                            </p>
                            <p><b>M.S., Computer Science</b>, <i><a href="https://www.cs.tufts.edu/">Tufts University</a></i>, 2019<br/>
                               <b>B.S., Computer Science</b>, <i><a href="https://www.tufts.edu/">Tufts University</a></i>, 2018</p>

                            <p>
                                {{#link-to 'secure'}}Contacting me securely{{/link-to}}
                            </p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <div style="height: 170px;" class="address" id="en">
                                <h6><b>{{fa-icon "map-marker"}} Address (Jun-Aug 2018):</b></h6>
                                <p>
                                    <b>Xuanrui Qi</b>
                                    <br>Graduate School of Mathematics
                                    <br>Nagoya University
                                    <br>Furo-cho, Chikusa-ku
                                    <br>Nagoya, Aichi Prefecture 464-8602
                                    <br>Japan
                                </p>
                            </div>
                            <div style="height: 170px;" class="address" id="ja">
                                <h6><b>{{fa-icon "map-marker"}} 住所 (2018年6〜8月):</b></h6>
                                <p>
                                    <b>QI, Xuanrui (亓 璇睿)</b>
                                    <br>〒464-8602 愛知県名古屋市千種区不老町
                                    <br>名古屋大学大学院多元数理科学研究科
                                </p>
                            </div>
                            <div style="height: 170px;" class="address" id="future">
                                <h6><b>{{fa-icon "map-marker"}} Address (Sept 2018-future):</b></h6>
                                <p>
                                    <b>Xuanrui Qi</b>
                                    <br>Department of Computer Science
                                    <br>Halligan Hall
                                    <br>161 College Avenue
                                    <br>Medford, MA 02144
                                    <br>United States of America
                                </p>
                            </div>
                            <p>
                                <a href="#!" onclick="toggleAddr('en');">[EN]</a>
                                <a href="#!" onclick="toggleAddr('ja');">[JA]</a>
                                <a href="#!" onclick="toggleAddr('future')">[From Sept 2018]</a>
                            </p>
                            <p>
                                <b>{{fa-icon "envelope"}}</b> <a href="mailto:me@xuanruiqi.com">me@xuanruiqi.com</a><br/>
                                <b>{{fa-icon "envelope"}}</b> <a href="mailto:xqi01@cs.tufts.edu">xqi01@cs.tufts.edu</a> (academic only)
                            </p>
                            <p>
                                <a href="https://github.com/xuanruiqi" class="btn btn-contact btn-github">{{fa-icon "github" class="animated-icon" fixedWidth=true size=2}}</a>
                                <a href="https://twitter.com/xuanruirqi" class="btn btn-contact btn-twitter">{{fa-icon "twitter" class="animated-icon" fixedWidth=true size=2}}</a>
                                <a href="https://www.linkedin.com/in/xuanruiqi/" class="btn btn-contact btn-linkedin">{{fa-icon "linkedin" class="animated-icon" fixedWidth=true size=2}}</a>
                                <a href="https://www.quora.com/profile/Xuanrui-Qi" class="btn btn-contact btn-quora">{{fa-icon "quora" class="animated-icon" fixedWidth=true size=2}}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="margin-top: 2%;">
                    <div class="col-md-11 info-box">
                        <p>
                            I am <a class="text-tooltip">{{bs-tooltip title="\"Ray\" preferred, unless you speak Chinese" renderInPlace=true}}Xuanrui "Ray" Qi</a>, 
                            a visiting researcher at the <a href="https://www.math.nagoya-u.ac.jp/">Graduate School of Mathematics, Nagoya University</a>, in Nagoya, Japan, where I am hosted by Professor <a href="https://www.math.nagoya-u.ac.jp/~garrigue/home.html">Jacques Garrigue</a>. 
                            After that, starting in September 2018 (and until May 2019), I will be a master's student in computer science at <a href="https://www.tufts.edu/">Tufts University</a>, where 
                            I will (continue to) be advised by Professor <a href="https://www.cs.tufts.edu/~sguyer/">Samuel Z. Guyer</a>.
                        </p>   
                        <p>
                            I graduated from Tufts University in 2018, with a B.S. in <a href="https://engineering.tufts.edu/cs/">computer science</a> and <a href="https://ase.tufts.edu/ir/">international relations</a>. During my undergraduate career, I was fortunate to be advised 
                            by and to do research with Professor Sam Guyer.
                        </p>
                        <p>
                            My research interests include the design and implementation of programming languages,
                            formal methods and verification, language-based security, type systems, and logic.
                        </p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-11 info-box">
                        <div>
                            <a href="#!" onclick="$('#block-1').slideToggle();">[日本語]</a>
                            <br>
                            <div class="hidden-block" id="block-1">
                                <p>
                                    アメリカ・タフツ大学工学部コンピューター科学科2018年5月に卒業，学士 (理学) (Bachelor of Science) の学位を取得しました．2018年9月から2019年5月まで同大学大学院工学研究科コンピューター科学専攻で修士課程．2018年8月まで<a href="https://www.math.nagoya-u.ac.jp/ja/">名古屋大学大学院多元数理科学研究科</a>で，<a href="https://www.math.nagoya-u.ac.jp/~garrigue/home-j.html">ジャック・ガリグ</a> (<a href="https://www.math.nagoya-u.ac.jp/~garrigue/home.html">Jacques Garrigue</a>/雅利賀 惹玖) 教授の元に滞在して，研究を行っています．
                                </p>
                                <p>
                                    興味のある研究テーマはプログラミング言語の設計と実装，形式手法，プログラム検証、プログラミング言語のセキュリティーへの応用，型理論と (数理) 論理学など．
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-11 info-box">
                        <hr>
                        <h4>News</h4><br>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>(June-August 2018)</b> I <s>will be</s> am visiting and doing research with
                                        <a href="https://www.math.nagoya-u.ac.jp/~garrigue/home.html">Professor Jacques Garrigue</a> at the
                                        <a href="https://www.math.nagoya-u.ac.jp/">Graduate School of Mathematics, Nagoya University</a>
                                        from June to August 2018.<br>
                                        <b>(2018年6〜8月)</b> 2018年6月から8月まで，<a href="https://www.math.nagoya-u.ac.jp/ja/">名古屋大学大学院多元数理科学研究科</a>にて，<a href="https://www.math.nagoya-u.ac.jp/~garrigue/home-j.html">ジャック・ガリグ</a>教授の元に滞在・研究を行っています．
                                    </td>
                                </tr>                               
                                <tr>
                                    <td>
                                        <b>(May 20, 2018)</b> I <s>will be graduating</s> graduated from Tufts University with a Bachelor of Science in Computer
                                        Science on May 20, 2018!
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>(May 3, 2018)</b> I <s>will publicly defend</s> defended my senior honors thesis, "Elephant Tracks II: Practical, Extensible Memory Tracing",
                                        on May 3, from 12:30-2:00 pm. <span class="red-note">NEW: I received <i>honors in thesis</i> for my thesis!</span>
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>

                
                <div class="row">
                    <div class="col-md-11 info-box">
                        <hr>
                        <h4>Projects</h4><br>
                        <table class="table table-striped">
                            <tbody>                                    
                                <tr>
                                    <td>
                                        <b>Elephant Tracks II</b>: a portable, efficient and language-agnostic memory tracing toolkit.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>JumboViz</b> (tentative name): a visualizer for Elephant Tracks GC traces.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.address').hide();
    $('.address').filter('#en').show();

    function toggleAddr(addr) {
        $('.address').hide();
        $('.address').filter('#' + addr).show();
    }

    $('.hidden-block').hide();
</script>