<h3><b>{{model.title}}</b></h3>
{{#if model.altTitle}}
<h5>{{model.altTitle}}</h5>
{{/if}}

<h5>Authors: {{model.authors}}</h5>
<hr>
<p>{{model.citation}}<br/>
    {{#each model.extras as |e|}}
        <a href="{{rootURL}}{{e.url}}">[{{e.type}}]</a>
    {{/each}}
</p>
<hr>
<h5>Abstract</h5>
<p>
    {{model.abstract}}
</p>
<br/>
<h5>{{#link-to 'research'}}Go back{{/link-to}}</h5>