<!--
   - Copyright(c) 2018 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<h2>Research</h2><br>
<p>
    I have a few research projects, all of which deal with programming languages.<br><br>
</p>

<h3>Current Research</h3><br>
<div class="card border-light mb-3">
  <div class="card-header bg-light">Elephant Tracks II</div>
  <div class="card-body">
    <p class="card-text">
        Elephant Tracks II is a dynamic analysis framework for memory in managed 
        programming languages which works by generating a <i>memory trace</i>, i.e. 
        record of object allocations, pointer traces, and object deaths, and it is known 
        that you can do <a href="https://dl.acm.org/citation.cfm?id=2259010">many</a>
        <a href="https://dl.acm.org/citation.cfm?id=3133854">things</a> with those traces.
        With a team of researchers from <a class="text-tooltip">
        {{bs-tooltip title="the DaCapo Tooling Group, led by Kathryn McKinley" renderInPlace=true}}Google</a> 
        and the <a class="text-tooltip">{{bs-tooltip title="Steve Blackburn" renderInPlace=true}}Australian National University</a>,  
        we aspire to bring the utility of memory tracing to more programmers, and to 
        make memory tracing even greater.<br><br>
        Our project is <a href="https://github.com/ElephantTracksProject">on GitHub</a>!
    </p>
  </div>
</div>

<div class="card border-light mb-3">
  <div class="card-header bg-light">JumboViz <i>(tentative name)</i>: visualizing memory traces</div>
  <div class="card-body">
    <p class="card-text">
        We have memory traces now, but what are we going to do with those trillion-line plain text 
        documents? An intuitive approach would be to <i>visualize</i> them. With two other undergraduates
        at Tufts Computer Science, we try to develop good 
        visual representations of memory traces using visualization, data mining and artificial 
        intelligence techniques.
    </p>
  </div>
</div>
<br>

<h3>Publications</h3><br>
<table class="table">
    <thead>
        <th scope="col">Abbreviation</th>
        <th scope="col">Citation</th>
        <th scope="col">Notes</th>
    </thead>
    <tbody>
        {{#each model as |paper|}}
        <tr>
            <th scope="row"><em>{{paper.abbrev}}</em></th>
            <td>{{paper.citation}}
                <br>
                <a href="#!" {{action "showAbstract"}}>[Abstract]</a>
                <a href="#!" {{action "showBibtex"}}>[BibTeX]</a>
                <a href="assets/papers/{{paper.pdf}}">[PDF]</a>
                {{#each paper.extras as |e|}}
                <a href="{{e.url}}">[{{e.type}}]</a>
                {{/each}}
                {{#if showingBibTeX}}
                    {{#modal-dialog onClose="showBibtex"
                                    targetAttachment="center"
                                    translucentOverlay=true
                                    }}
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">BibTeX</h5>
                            </div>
                            <div class="modal-body">
                                {{paper.bibtex}}
                                {{#copy-button
                                  clipboardText=paper.rawBibtex
                                  classNames="copy-button float-right"
                                  title="Copy to clipboard"
                                }}
                                {{fa-icon "paste"}}
                                {{/copy-button}}
                            <br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" onclick={{action "showBibtex"}}>Close</button>
                            </div>
                        </div>
                    </div>
                    {{/modal-dialog}}
                {{/if}}
                {{#if showingAbstract}}
                    {{#modal-dialog onClose="showBibtex"
                                    targetAttachment="center"
                                    translucentOverlay=true
                                    }}
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Abstract</h5>
                            </div>
                            <div class="modal-body">
                                {{paper.abstract}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" onclick={{action "showAbstract"}}>Close</button>
                            </div>
                        </div>
                    </div>
                    {{/modal-dialog}}
                {{/if}}
            </td>
            <td>{{paper.notes}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>

<h3>Non-research Technical Writing</h3>
<ol>
    <li>
        my final report for a directed study in spring 2017: <a href="assets/documents/report-193.pdf">[PDF]</a> 
        <a href="assets/documents/Report.lhs">[Literate Haskell]</a>
    </li>
    <li>
        my final report for COMP 116 Security in fall 2017: <a href="assets/documents/report-116.pdf">[PDF]</a>
        <a href="assets/documents/InsertionSort.v">[Coq code]</a>
    </li>
</ol>